@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JeonjuCraftMjB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1, h2, p, body {
    margin: 0;
}

/*사이트 제목과 그 아래에는 관련된 디자인이 들어감*/
header {
    background-color: rgba(255, 211, 246, 0.774);
    width: 100%;

    position: fixed;
    height: 100px;
    display: flex;
    justify-content: center; /*가로 중앙 정렬*/
    align-items: center; /*세로 중앙 정렬*/
    font-family: 'Giants-Inline';
    font-size: 2.5em;
    
    z-index : 100;
    /*화면 위에 고정시킬때
    z축을 기준으로 앞으로 다 나와있게한다.
    :가장 앞 쪽에 나타난다.*/

}
header h1{
    color :#358C74;
    
}

/*전체 섹션1에 대한 디자인*/
section {
    
    height: 100vh; /* vh단위는 브라우저창의 비율*/
    font-family: 'Giants-Inline';
}

/*세션1에 대한 디자인*/
.section1 { display: flex;
            align-items: start; /*aline 과 direction이 반대가 되는상황*/
            flex-direction: column; /*세로정렬*/
            justify-content: center;
            background-image: url(pink.jpg) ;
            background-size: cover;

}
.section1 h2, section1 p {
    margin-left: 20px;
    color : white;
    text-shadow: black 5px 0 10px;
    font-family: 'TAEBAEKmilkyway';
    font-size: 2em;
}

.section1 p {
    font-size: 3em;
}

/*section2 디자인*/
.more {
    display:block; /*전체 너비로 기준을 세움*/
    text-align: end; /*block으로 설정한 기준으로 글자가 맨끝으로 이동*/
    margin-top: 30px;
    margin-right: 30px;
}


.gallery {
    display: flex;
    justify-content: end;

}


/*pic을 먼저 한 이유는, div 태그를 사용하고 있기 때문에
는 공간을 확인하기 어려워서 미리 지정함 */
.pic1, .pic2, .pic3,
.pic-box, .text {
    width: 25vw;  /*vw은 화면 넓이사이즈 기준으로 비율*/
    height: 80vh; /*vh는 화면의 높이사이즈 기준으로 비율*/
    background-color: gray;
    margin: 20px;
    border-radius: 20px;
    
    display: flex; /* 여기까지 적어도 결과에는 변함이 없다. */
    justify-content: center; 
    align-items: center;
    color: pink;
    font-size: 3em;
    text-align: center;
}

/*이미지 넣는 공간, 주석으로 미리 추가하면
 추후 이미지 수정시 금방 찾을 수 있어 편리함*/
.pic1 {
    background-image: url(pic1.jpg);
    background-size: cover;  
    transition: all 0.5s;
}

.pic1:hover {
    box-shadow: 10px 5px 5px rgba(48, 45, 45, 0.527);
    transform: translate(-10px, -5px);
}
.pic2 {
    background-image: url(pic2.png);
    background-size: cover;
    transition: all 0.5s;   
}

.pic2:hover {
    opacity: 0.7;
    transform: translate(-10px);
    
}
/*opacity는 태그 전체가 투명해진다, 그 안에있는 자식도 투명해짐*/
.pic-box {
    position: relative;
    overflow: hidden;
}   /*하위영역이 상위영역보다 클때가 있는데, hidden을 쓰면
    부모보다 큰 부분을 숨기는 역할*/
    
  
.text, .pic3 {
    margin: 0;
}

.text {
    z-index: 10;
    /*transparent는 글자색을 투명하게 할때 사용.*/
    background-color: transparent;
}

.pic3 {
    position: absolute;
    left: 0;
    top: 0;    

    background-image: url(pic3.png);
    background-size: cover;   
    background-position: center;

    transition: all 1s;
}

/*pic3 위에 text가 z-index로 올라와있기 때문에, 
pic-box 위에 마우스를 올렸을 때
pic3의 디자인을 바꾸는 css의 선택지*/
.pic-box:hover .pic3 {
    filter: blur(5px);
    transform: scale(1.1);
}

 /*backround-size: cover는지정된 틀 딱 맞게 넣어주는 기능 사진이 크면 잘림*/
 /*pic3사진은 그림이 짤려서 , 그림을 중앙을 포커스에 맞게 옮기기 위해
 backgounrd-position: center; 을 추가했다. */


 /*푸터 디자인*/
 footer {
    background-color: #F2BDBD;
    height: 60px;
    font-family: 'JeonjuCraftMjB';
    text-align: center;
    padding: 40px;

}

/* 안쪽 공간 범위는 padding, 바깥쪽 범위는 margin을 주로 사용함*/



/*미디어 쿼리를 이용해서 모바일 화면으로 제작하기*/
@media (max-width: 768px) {
    /*목표 : section2의 레이아웃을 수정해서 
    일렬로 나열되어있는 pic들을 세로로 정렬*/
    /*gallery의 flex를 수정*/
    .gallery {
        flex-direction: column;
    }
    .pic1, .pic2, .pic3,
    .pic-box, .text {
        width: 90vw;
        height: 24vh;
    }